body{
    background-color: rgb(255, 255, 255);
    width: 1200px;
    padding: 0 147px;
    margin:  0 auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

   

.header-list{
     display: flex;
     justify-content: space-between;
     margin: 0 auto ;
     width: 555px;
}
.header{
    padding-top: 51px;
    padding-bottom: 92px;
}
.header-link{
    color: #03a9f4;
 text-transform: uppercase;

}
.header-link:hover{
    color: burlywood;
}
.wrapper{
    display: flex;
}
.card{
    width: 420px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapp-img{
    margin-bottom: 62px;
}
.name{
    margin-bottom: 32px;
}
.title{
    margin-bottom: 40px;
}
.container{
    width: 1200px;
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button-wrap{
    display: flex;
    justify-content: center;
    padding-top: 62px;
    padding-bottom: 62px;
}
.btn{
    background-color: white;
    border: 1px solid #626262;
    padding: 20px 50px;
    font-size: 14px;
    font-style: 700;
    cursor: pointer;
}
.btn:hover{
    border:1px solid #03A9F4;
    color: #03A9F4;
}
span{
    color: #B4AD9E;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 32px;
}

h2{ 
    font-size: 30px;
    color: #626262;
    margin-bottom: 40px;
}